<footer id="colophon" class="site-footer">
  <div class="container">
    <div class="footer-bottom">
      <div class="footer-tagline">
        <div class="site-info">
          {{ with .Site.Params.footerText }}
            {{ . | safeHTML }}
          {{ else }}
            &copy; {{ now.Year }} {{ $.Site.Title }}
          {{ end }}
        </div>
      </div>
      <p class="footer-legacy">Luv &rsquo;til it Hurts &mdash; formerly luvhurts.co &amp; luvtilithurts.co. Part of the <a href="https://tllester.info">Todd Lanier Lester</a> portfolio.</p>
    </div>
  </div>
</footer>
